<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ChossApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_choss"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_choss"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChossApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.shop.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recommendation.RecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recommendation.DetailRecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.personality.DetailPersonalityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.personality.PersonalityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>